$plain-text: #1c1a26;
$accent-orange: #f9512e;
$dark-orange: #b2341a;
$light-orange: #fba28f;
$grey: #7f8096;
$tablet-screen: 640px;
$desktop-screen: 1024px;
$tv-screen: 1200px;
$transition-duration: 300ms;
