
$plain-text: #1C1A26;
$accent-orange:#F9512E;
$dark-orange: #B2341A;
$light-orange: #FBA28F;
$grey: #7F8096;

$tablet-screen: 640px;
$desktop-screen: 1024px;
$tv-screen: 1200px;

$transition-duration: 300ms;
