@use './mixins' as mix;

@mixin big-text-styles {
  /* Big text */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 85%;
  /* identical to box height, or 82px */

  letter-spacing: -0.05em;
  text-transform: uppercase;
}

@mixin body-text-styles {
  /* Body text */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: -0.01em;
}

@mixin uppercase-text-styles {
  /* Uppercase */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@mixin h1-styles {
  /* Mobile headings/H1 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85%;
  /* or 54px */

  letter-spacing: -0.05em;
  text-transform: uppercase;

  @include mix.on-tablet {
    /* Tablet headings/H1 */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 85%;
    /* identical to box height, or 68px */

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  @include mix.on-desktop {
    /* Desktop headings/H1 */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 85%;
    /* or 122px */

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}

@mixin h2-styles {
  /* Mobile headings/H2 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 85%;
  /* identical to box height, or 41px */

  letter-spacing: -0.05em;
  text-transform: uppercase;

  @include mix.on-tablet {
    /* Tablet headings/H2 */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 85%;
    /* identical to box height, or 48px */

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  @include mix.on-desktop {
    /* Desktop headings/H2 */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 85%;
    /* or 61px */

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}
